@charset "utf-8";

// Customization
$navbar-item-img-max-height: 2rem;

@import "~bulma/bulma";

html, body {
	height: 100%;
	width: 100%;
	font-family: '游明朝', YuMincho, 'Hiragino Mincho ProN W3', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}